[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "censable"]
	path = censable
	url = https://github.com/christopherkenny/censable
	shallow = true
	registered = true
[submodule "divseg"]
	path = divseg
	url = https://github.com/christopherkenny/divseg
	shallow = true
	registered = true
[submodule "geomander"]
	path = geomander
	url = https://github.com/christopherkenny/geomander
	shallow = true
	registered = true
